libstactiverecord.pc
acinclude.d/libtool.m4
acinclude.d/ltoptions.m4
acinclude.d/ltsugar.m4
acinclude.d/ltversion.m4
acinclude.d/lt~obsolete.m4
Makefile
Makefile.in
api
*.o
*.lo
*.la
aclocal.m4
.libs
.deps
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
examples/dbs
examples/many_to_many
examples/one_to_many
examples/one_to_one
examples/querying
examples/simple
install-sh
libtool
ltmain.sh
missing
stactiverecord/config.h
stactiverecord/config.h.in
stactiverecord/stamp-h1
tests/db_test
tests/object_test
